@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

.no-display {
    display: none;
}

body {
    background: url('/dist/img/background.jpg') no-repeat center center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 14px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 15vw;
    min-height: 6vh;
    background-color: rgb(97, 91, 91);
    border-radius: 20px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

a:hover {
    color: #fc967f;
    font-weight: bold;
}

#wim:hover {
    color: #4ab3b6;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gradient-circle {
    background: conic-gradient(#f76967 0%,
            #fc967f 65%,
            #40a2ad 80%,
            #4ab3b6 100%);
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background-color: rgb(97, 91, 91);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 3s ease-in-out forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.container.grow {
    animation: grow 2s ease-in forwards;
}

.container.shrink {
    animation: shrink 1s ease forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}